<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>User type</th>
      <th>Email address</th>
      <th>Password</th>
      <th>Picture</th>
      <th>Bio</th>
      <th>Gps location</th>
      <th>City</th>
      <th>Country</th>
      <th>Recent activity</th>
      <th>String</th>
      <th>In blacklist</th>
      <th>Suspended</th>
      <th>Previously suspension</th>
      <th>Zone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_type %></td>
        <td><%= user.email_address %></td>
        <td><%= user.password %></td>
        <td><%= user.picture %></td>
        <td><%= user.bio %></td>
        <td><%= user.gps_location %></td>
        <td><%= user.city %></td>
        <td><%= user.country %></td>
        <td><%= user.recent_activity %></td>
        <td><%= user.string %></td>
        <td><%= user.in_blacklist %></td>
        <td><%= user.suspended %></td>
        <td><%= user.previously_suspension %></td>
        <td><%= user.zone %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
