<p id="notice"><%= notice %></p>

<p>
  <strong>Up vote:</strong>
  <%= @vote.up_vote %>
</p>

<p>
  <strong>Date:</strong>
  <%= @vote.date %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
