<!DOCTYPE html>
<html>
  <head>
    <title>Pissed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>

    <div class="container">
      <header class="blog-header py-2">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-2 text-center">
            <a class="blog-header-logo text-dark" href="#">
	    
	    <h2 style="font-family: sans-serif"><b>Pissed</b></h2>
	   </a>
          </div>
          <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
	<nav class="nav d-flex justify-content-between">
        <a class="nav-link" href="../mainpage/home.html.erb">Home</a>
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">New User</a>
          <a class="dropdown-item" href="#">View User</a>
          <a class="dropdown-item" href="#">Edit User</a>
	  <a class="dropdown-item" href="#">Delete User</a>
        </div>
        <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Posts</a>
        <div class="dropdown-menu" aria-labelledby="dropdown02">
          <a class="dropdown-item" href="#">View Newest Post</a>
          <a class="dropdown-item" href="#">View Oldest Post</a>
          <a class="dropdown-item" href="#">Delete a Post</a>
        </div>
        <a class="nav-link" href="../mainpage/home.html.erb">Comment Threads</a>
        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">AUP &amp; TOS</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
          <a class="dropdown-item" href="#">Provide AUP and TOS document</a>
          <a class="dropdown-item" href="#">Report abussive content</a>
        </div>
        <a class="nav-link" href="../mainpage/home.html.erb">About Us</a>
        <a class="nav-link" href="../mainpage/home.html.erb">Contact</a>
	</nav>
      </div>

      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div>
          <%=yield%>
        </div>
      </div>
<footer class="blog-footer">
      <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
   </script>
  </body>

</html>
