<p id="notice"><%= notice %></p>

<p>
  <strong>User type:</strong>
  <%= @user.user_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @user.email_address %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @user.picture %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Gps location:</strong>
  <%= @user.gps_location %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>In blacklist:</strong>
  <%= @user.in_blacklist %>
</p>

<p>
  <strong>Suspended:</strong>
  <%= @user.suspended %>
</p>

<p>
  <strong>Previously suspension:</strong>
  <%= @user.previously_suspension %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @user.zone %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
