<div class="row">
        <div class="col-md-4  order-md-1 mb-4 px-0">
          <h2 class="display-6 font-italic"><%= @user.name %></h2>

          <% if @user.avatar.attached? %>
          <image src="<%=(url_for(@user.avatar))%>" class="img-thumbnail" width="300" height="300">
            <% else %>
	  		<img src="/appimages/ProfileBlank.png" class="img-thumbnail" width="300" height="300">
        <%end%>
        </div>
	<div class="col-md-4 order-md-2 px-0">
<br>
 <p class="lead my-4"> Name:  <%= @user.name %> <%= @user.lastname %> </p>
 <p class="lead my-4"> Email:  <%= @user.email %> </p>
 <p class="lead my-4"> Class: <%= @user.user_type %></p>
 <p class="lead my-4"> City: <%= @user.city %> </p>
 <p class="lead my-4"> Country: <%= @user.country %> </p>
 <p class="lead my-4"> GPS Location: <%= @user.gps_location %> </p>

        </div>
        <div class="col-md-4 order-md-3 px-0">
	<br>
	<p class="lead my-4"> Biography</p>
	<div class="jumbotron p-4 p-md-3 text-dark rounded bg-ligth" class:"container">

	<p class="lead my-3" text-dark > <%= @user.bio %> </p>
        </div>
</div>
</div>
	<p class="lead my-4">Activity</p>
	<div class="jumbotron p-10 p-md-4 text-dark rounded bg-ligth">
	<table class="table table-bordered text-dark allign=center">
<thead>
      <tr>
        <th>Date</th>
        <th>Activity</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>02/06/2018</td>
        <td>Comment</td>
        <td>He said he loves more his girlfriend than anything </td>
      </tr>
      <tr>
        <td>03/06/2018</td>
        <td>Response</td>
        <td>you are so </td>
      </tr>
      <tr>
        <td>20/05/2019</td>
        <td>Vote</td>
        <td>Voted positive on a comment</td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Weas que estaban

<p id="notice"><%= notice %></p>

<p>
  <strong>User type:</strong>
  <%= @user.user_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @user.picture %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Gps location:</strong>
  <%= @user.gps_location %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>In blacklist:</strong>
  <%= @user.in_blacklist %>
</p>

<p>
  <strong>Suspended:</strong>
  <%= @user.suspended %>
</p>

<p>
  <strong>Previously suspension:</strong>
  <%= @user.previously_suspension %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @user.zone %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

-->
