<%= form_with(model: innappropiate_request, local: true) do |form| %>
  <% if innappropiate_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(innappropiate_request.errors.count, "error") %> prohibited this innappropiate_request from being saved:</h2>

      <ul>
      <% innappropiate_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :justification %>
    <%= form.text_area :justification %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.text_field :post_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
