<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @innappropiate_request.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @innappropiate_request.title %>
</p>

<p>
  <strong>Justification:</strong>
  <%= @innappropiate_request.justification %>
</p>

<p>
  <strong>User:</strong>
  <%= @innappropiate_request.user %>
</p>

<p>
  <strong>Post:</strong>
  <%= @innappropiate_request.post %>
</p>

<%= link_to 'Edit', edit_innappropiate_request_path(@innappropiate_request) %> |
<%= link_to 'Back', innappropiate_requests_path %>
