<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
<br>
  <div class="row">
      <div class="col-md-6 px-0">
        <div class="form-group">
          <label for="title" class="col-sm-3 control-label upperlabel">Post title:</label>
          <a class="col-sm-9">
            <a class="field">
              <%= form.text_field :title %>
            </a>
          </a>
        </div>
        <div class="form-group">
          <label for="City" class="col-sm-3 control-label upperlabel">City:</label>
          <a class="col-sm-9">
            <a class="field">
              <%= form.text_field :city %>
            </a>
          </a>
        </div>
        <div class="form-group">
          <label for="Country" class="col-sm-3 control-label upperlabel">Country:</label>
          <a class="col-sm-9">
            <a class="field">
              <%= form.text_field :country %>
            </a>
          </a>
        </div>

        <div class="field text-black-50">
          <%= form.label "Post picture" %><br/>
          <%= form.file_field :avatar %></div>

        </div>

    <div class="col-md-6 px-0">
      <div class="form-group">
        <label for="GPS L]location" class="col-sm-3 control-label upperlabel">GPS location:</label>
        <a class="col-sm-9">
          <a class="field">
          <%= form.number_field :gps_location %>
          </a>
        </a>
      </div>
      <div class="form-group">
        <label for="City" class="col-sm-3 control-label upperlabel">Date:</label>
        <a class="col-sm-9">
          <a class="field">
            <%= form.date_select :date %>
          </a>
        </a>
      </div>
      <div class="form-group">
        <label for="Description" class="col-sm-3 control-label upperlabel">Description:</label>
        <a class="col-sm-9">
          <a class="field">
              <%= form.text_area :description %>
          </a>
        </a>
      </div>
      <div class="form-group">
        <label for="Country" class="col-sm-3 control-label upperlabel">Zone ID:</label>
        <a class="col-sm-9">
          <a class="field">
              <%= form.text_field :zone_id %>
          </a>
        </a>
      </div>
          </div>
        </div>
        <div class="actions">
          <div class="text-center">

          <%= form.submit %>
          </div>
        </div>
        <% end %>
