<p id="notice"><%= notice %></p>

<div class="row">
        <div class="col-md-6 px-0">
          <h2 class="display-6 font-italic"><%= @post.title %></h2>
          <% if @post.avatar.attached? %>
          <image src="<%=(url_for(@post.avatar))%>" class="img-thumbnail" width="300" height="300">
            <% else %>
	  		  <img src="/appimages/ProfileBlank.png" class="img-thumbnail" width="300" height="300">
          <%end%>
        <br>
          <p class="lead my-2"> Zone: <%= @post.zone.name %></p>
        </div>
	<div class="col-md-6 px-0">
    <br>
    <br>
    <p class="lead my-4"> Description: </p>
  	<div class="jumbotron p-2 p-md-3 text-dark rounded bg-ligth">
  	<p class="lead my-10"> <%= @post.description %> </p>
          </div>
    <p class="lead my-2"> City: <%= @post.city %></p>
    <p class="lead my-2"> Country: <%= @post.country %> </p>
        </div>
      </div>
    <br>
    <div class="jumbotron p-10 p-md-4 text-dark rounded bg-ligth">
  	<table class="table table-bordered text-dark allign='center'" >
  <thead class="container-fluid">
        <tr>
          <th>Comments:</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
      <% @comments.each do |comment| %>

          <div class="container">
            <p class="col-4">
            <%=comment.user.name %> : <%=comment.description %>
            </p>
          </div>
        <% @comment.comments.each do |reply| %>
          <div class="container">
            <p class="col-4" style="margin-left: <%= comment_distance(reply,0)%>rem">

              <%=comment.user.name %> : <%=comment.description %>
            </p>
          </div>
        <%end%>

      <% end %>
  <br>
  <div>
    <div class="form-group">
      <label for="title" class="col-sm-3 control-label upperlabel">New Comment:</label>
      <a class="col-sm-9">
        <a class="field justify-content-end">
          <%= form_for([@post,@comment]) do |f| %>
            <%= f.text_field :description %>
            <a class="actions text-center">
                <%= f.submit %>
            </a>
          <% end %>
        </a>
      </a>
    </div>



  </div>
  </div>


<!--
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Up vote amount:</strong>
  <%= @post.up_vote_amount %>
</p>

<p>
  <strong>Down vote amount:</strong>
  <%= @post.down_vote_amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>

<p>
  <strong>City:</strong>
  <%= @post.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @post.country %>
</p>

<p>
  <strong>Gps location:</strong>
  <%= @post.gps_location %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>

<p>
  <strong>File atachment:</strong>
  <%= @post.file_atachment %>
</p>

<p>
  <strong>Open:</strong>
  <%= @post.open %>
</p>

<p>
  <strong>Solved:</strong>
  <%= @post.solved %>
</p>

<p>
  <strong>Innapropiated count:</strong>
  <%= @post.innapropiated_count %>
</p>

<p>
  <strong>In dumpster:</strong>
  <%= @post.in_dumpster %>
</p>

<p>
  <strong>Is hidden:</strong>
  <%= @post.is_hidden %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @post.zone %>
</p>
-->
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
