<p id="notice"><%= notice %></p>

<div class="row">
        <div class="col-md-6 px-0">
          <h2 class="display-6 font-italic"><%= @post.title %></h2>
          <img src="<%= @post.image %>" class="img-thumbnail" width="300" height="300">
        <br>
        <p class="lead my-2"> Zone ID: <%= @post.zone %></p>
        </div>
	<div class="col-md-6 px-0">
    <br>
    <br>
    <p class="lead my-4"> Description: </p>
  	<div class="jumbotron p-2 p-md-3 text-dark rounded bg-ligth">
  	<p class="lead my-10"> <%= @post.description %> </p>
          </div>
    <p class="lead my-2"> City: <%= @post.city %></p>
    <p class="lead my-2"> Country: <%= @post.country %> </p>
        </div>
      </div>
    <br>
    <div class="jumbotron p-10 p-md-4 text-dark rounded bg-ligth">
  	<table class="table table-bordered text-dark allign="center">
  <thead>
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>10/05/2019</td>
          <td>Jaime Auger</td>
          <td>La imagen se ve perfectamente</td>
        </tr>
        <tr>
          <td>10/05/2019</td>
          <td>Cristobal Uslar</td>
          <td>Gracias jaime, es lo que queria</td>
        </tr>
        <tr>
          <td>10/05/2019</td>
          <td>Paz Torres</td>
          <td>Mi pagina es mejor</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <p class="lead my-4">This post is open to comentaries: </p>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  <div class="text-right">
    <br>
    <button type="submit"  class="btn btn-primary btn-sm upperlabel">Enviar comentario</button>
  </div>

<!--
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Up vote amount:</strong>
  <%= @post.up_vote_amount %>
</p>

<p>
  <strong>Down vote amount:</strong>
  <%= @post.down_vote_amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>

<p>
  <strong>City:</strong>
  <%= @post.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @post.country %>
</p>

<p>
  <strong>Gps location:</strong>
  <%= @post.gps_location %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>

<p>
  <strong>File atachment:</strong>
  <%= @post.file_atachment %>
</p>

<p>
  <strong>Open:</strong>
  <%= @post.open %>
</p>

<p>
  <strong>Solved:</strong>
  <%= @post.solved %>
</p>

<p>
  <strong>Innapropiated count:</strong>
  <%= @post.innapropiated_count %>
</p>

<p>
  <strong>In dumpster:</strong>
  <%= @post.in_dumpster %>
</p>

<p>
  <strong>Is hidden:</strong>
  <%= @post.is_hidden %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @post.zone %>
</p>
-->
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
